@import "https://fonts.googleapis.com/css?family=Roboto";
h1 {
    margin: 0;
}
#contact {
    width: 100px;
    line-height: 30px;
    background: teal;
    color: white;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border: 1px solid white;
    cursor: pointer;
}

#contact:hover {
    background: #666;
}
#contact:active {
    background: #444;
}

#contactForm {
    display: none;
    border: 6px solid salmon;
    padding: 2em;
    width: 400px;
    text-align: center;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 999;
    cursor: pointer;
}

input,
textarea {
    margin: 0.8em auto;
    font-family: "Roboto";
    text-transform: inherit;
    font-size: inherit;
    display: block;
    width: 280px;
    padding: 0.4em;
}
textarea {
    height: 80px;
    resize: none;
}

.formBtn {
    width: 140px;
    display: inline-block;
    background: teal;
    color: #fff;
    font-weight: 100;
    font-size: 1.2em;
    border: none;
}
#close {
    cursor: pointer;
}
.info-wrap {
    background: #1c1e25;
    padding: 20px;
    color: white;
    width: 500px;
    margin-top: 80px;
    border-radius: 12px;
    box-shadow: 3px 3px 8px 10px #a5a5a5;
}
.info-wrap h3 {
    color: white;
    font-size: 18px;
    position: relative;
}
.info-wrap .dbox {
    width: 100%;
    margin-bottom: 25px;
}
.info-wrap .dbox:last-child {
    margin-bottom: 0;
}
.info-wrap .dbox p {
    margin-bottom: 0;
}
.info-wrap .dbox p span {
    font-weight: 400;
    color: #fff;
}
.info-wrap .dbox p a {
    color: rgba(255, 255, 255, 0.3);
}
.info-wrap .dbox .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.02);
}
.info-wrap .dbox .icon span {
    font-size: 20px;
    color: #fff;
}
.info-wrap .dbox .text {
    width: calc(100% - 50px);
}

.btn {
    padding: 12px 16px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
    .btn {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}
.btn:hover,
.btn:active,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
    -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
    box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.22) !important;
}
.btn.btn-primary {
    background: #f39422 !important;
    border-color: #f39422 !important;
    color: #fff;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
    border-color: #d67a0c !important;
    background: #d67a0c !important;
}

.contactForm .form-control {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0;
}

#contactForm .error {
    color: #f65c78;
    font-size: 12px;
}

#contactForm .form-control {
    font-size: 16px;
}

#message {
    resize: vertical;
}

#form-message-warning,
#form-message-success {
    display: none;
}

#form-message-warning {
    color: red;
}

#form-message-success {
    color: #28a745;
    font-size: 18px;
    font-weight: 500;
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-size: 16px;
    font-weight: 500;
}
