@charset "UTF-8";

@font-face {
    font-family: "blog";
    src: url("../fonts/blog.eot");
    src: url("../fonts/blog.eot?#iefix") format("embedded-opentype"),
        url("../fonts/blog.woff") format("woff"),
        url("../fonts/blog.ttf") format("truetype"),
        url("../fonts/blog.svg#blog") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "Roboto" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "blog" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\61";
}
.icon-clock:before {
    content: "\62";
}
.icon-comment:before {
    content: "\64";
}
.icon-search-1:before {
    content: "\67";
}
.icon-close:before {
    content: "\68";
}
.icon-eye:before {
    content: "\63";
}
/* Content */

.content {
    padding: 8px 90px;
    font-family: "Roboto", sans-serif;
}

.content p {
    line-height: 1.9;
}

.content img {
    max-height: 500px;
}

/* Share Buttons */

.share-btn-container {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.share-btn-container a i {
    font-size: 32px;
}

.share-btn-container a {
    margin: 12px 0;
    transition: 500ms;
}

.share-btn-container a:hover {
    transform: scale(1.2);
}

.share-btn-container .fa-facebook {
    color: #3b5998;
}

.share-btn-container .fa-twitter {
    color: #1da1f2;
}

.share-btn-container .fa-linkedin {
    color: #0077b5;
}

.share-btn-container .fa-pinterest {
    color: #bd081c;
}

.share-btn-container .fa-whatsapp {
    color: #25d366;
}

/* Media Queries */

@media (max-width: 550px) {
    .content {
        padding: 8px 32px;
    }

    .share-btn-container {
        z-index: 999;
        transform: unset;
        top: unset;
        left: 0;
        bottom: 0;
        width: 100%;
        flex-direction: row;
        box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
        /* padding: 16px 0; */
        justify-content: center;
    }

    .share-btn-container a {
        margin: 0 16px;
    }
}
.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 10px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
    color: #777;
    opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
    color: #777;
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
    color: #777;
}

.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
}

.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: black;
    background-color: rgb(91, 217, 255);
    padding: 3px 5px;
    border-radius: 4px;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
        0 1px 2px rgba(0, 0, 0, 0.05);
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.pricingTable {
    text-align: center;
    padding: 0 0 20px 20px;
    position: relative;
    z-index: 1;
}
.pricingTable:after {
    content: "";
    background: #00a897;
    width: 40%;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.pricingTable .pricing-content {
    background-color: #fff;
    padding: 15px 0 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.pricingTable .pricingTable-header {
    padding: 20px 10px;
    margin: 0 0 5px;
}
.pricingTable .title {
    color: #333;
    font-size: 40px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0;
}
.pricingTable .content-list {
    padding: 0;
    margin: 0 0 10px;
    list-style: none;
    display: inline-block;
}
.pricingTable .content-list li {
    color: #333;
    font-size: 16px;
    text-transform: capitalize;
    text-align: left;
    padding: 0 0 0 35px;
    margin: 0 0 27px;
    position: relative;
}
.pricingTable .content-list li:last-child {
    margin-bottom: 0;
}
.pricingTable .content-list li:before {
    content: "\f00c";
    color: #338806;
    font-family: "Font Awesome 5 Free";
    font-size: 17px;
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 0;
}
.pricingTable .content-list li.disable:before {
    content: "\f00d";
    color: #ff3631;
}
.pricingTable .price-value {
    margin: 0 0 20px;
}
.pricingTable .price-value .amount {
    font-size: 50px;
    font-weight: 300;
    line-height: 40px;
    margin: 0 0 5px;
    display: block;
}
.pricingTable .price-value .duration {
    font-size: 16px;
    display: block;
}
.pricingTable .pricingTable-signup a {
    color: #fff;
    background-color: #00a897;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 25px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s;
}
.pricingTable .pricingTable-signup a:hover {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.pricingTable .pricingTable-signup a:before,
.pricingTable .pricingTable-signup a:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.15);
    height: 100%;
    width: 50%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    transition: all 0.3s ease;
}
.pricingTable .pricingTable-signup a:after {
    left: auto;
    right: 0;
}
.pricingTable .pricingTable-signup a:hover:before {
    opacity: 1;
    top: 50%;
}
.pricingTable .pricingTable-signup a:hover:after {
    opacity: 1;
    top: -50%;
}
.pricingTable.blue:after,
.pricingTable.blue .pricingTable-signup a {
    background-color: #0089bd;
}
.pricingTable.magenta:after,
.pricingTable.magenta .pricingTable-signup a {
    background-color: #c70134;
}

.plans {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 990px) {
    .pricingTable {
        margin-bottom: 50px;
    }
}

main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm > .col,
.gutters-sm > [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100% !important;
}
.shadow-none {
    box-shadow: none !important;
}
